.demo-card-wide.mdl-card {
  width: 512px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 120px;
  background-color: #ffb3b3;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.getHand:hover {
  cursor: pointer;
}

.big-title {
  font-size: 30px;
}

.med-title {
  padding-top: 15px;
  font-size: 20px;
}

.like {
  padding: 10px;
  font-size: 20px;
}

.adminResponse {
  color: #e91e63;
}

#textarea1:focus {
  border-bottom: 1px solid #e91e63;
  box-shadow: 0 1px 0 0 #e91e63;
}

#textarea1:focus + label {
  color: #e91e63;
}
