@font-face {
  font-family: "pacifico";
  src: url("/assets/fonts/Pacifico.ttf") format("truetype"),
    url("/assets/fonts/pacifico-webfont.woff2") format("woff2"),
    url("/assets/fonts/pacifico-webfont.woff") format("woff");
}

.logOut {
  padding-left: 5em;
}

.title {
  font-family: "roboto";
  font-size: 20px;
  text-align: center;
  margin-top: 10vh;
}

.width {
  width: 100vw;
}

.admin {
  font-family: "roboto";
  font-size: 20px;
  color: #e91e63;
}
