<div>
  <nav>
    <div class="nav-wrapper light-blue darken-4">
      <a href="/home" class="brand-logo" style="padding-left: 10px;"><i class="material-icons">donut_small</i>collegelink
        <span *ngIf="admins!=undefined">
          <span *ngIf="checkAdmin()" class="admin">admin</span>
        </span>
      </a>

      <ul class="right hide-on-med-and-down">
        <li style="padding-top:15px">
          <a (click)="logOut()" class="waves-effect waves-light pink btn">LogOut</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  <!--user information-->
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8">
      <div class="card small horizontal">
        <div class="card-image">
          <img [src]="this.user.photoURL">
        </div>
        <div class="card-stacked">
          <button (click)="newPost()" class="btn-floating btn-large halfway-fab waves-effect waves-light pink">
            <i class="material-icons">add</i>
          </button>
          <div class="card-content">
            User Information<br><br>
            <span class="title">{{this.user.displayName}}</span>
            <br><br>
            <span>{{this.user.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m2"></div>
    <div class="col m8">
      <app-post></app-post>
    </div>
  </div>
</div>