<div class="container">
  <div class="row">
    <div class="input-field col s12">
      <input id="title" type="text" class="validate">
      <label for="title">Title</label>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <input id="input_text" type="text">
        <label for="input_text">Input text</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col m10"></div>
    <div class="col m2">
      <button class="btn waves-effect waves-light pink" type="submit" name="action">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>
  </div>
</div>