<div class="form">
  <div style="padding-bottom:5vh">NEW SUGGESTION</div>
  <div class="container">
    <div class="row">
      <div class="input-field col s12">
        <input [(ngModel)]="title" id="title" type="text" class="validate">
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <textarea [(ngModel)]="body" id="textarea1" type="text" class="materialize-textarea"></textarea>
        <label for="textarea1">Textarea</label>
      </div>
    </div>
    <div class="row">
      <div class="col m6"></div>
      <div class="col m6">
        <button (click)="addSuggestion()" class="btn waves-effect waves-light pink" type="submit">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </div>
</div>